body {
    background-color: #D9DBDF;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    border-color: #000;
    display: inline-block;
}

.red {
    background-color: #d63030;
}

.box {
    width: 100%;
    margin: 10px;
}