body {
    background-color: #D9DBDF;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#led.red {
    background-color: red;
}